@model topmeperp.Models.MapInfoModels
<div class="container-fluid">
    <h3>設備發包數量</h3><br />
    <h5>@ViewBag.Result1</h5>
    @if (null != Model)
    {
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th style="width:10%">主鍵值</th>

                    <th>設備名稱</th>
                    <th style="width:20%">設備數量</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.mapDEVICE != null)
                {
                    foreach (var item in Model.mapDEVICE)
                    {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.PROJECT_ITEM_ID)</td>
                            <td @if (item.LOC_DESC !=null &&   item.LOC_DESC.StartsWith("___")) { @Html.Raw(" style='background-color:yellow'")   }>
                                @item.LOC_DESC
                            </td>
                            <td>@Html.DisplayFor(modelItem => item.QTY)</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    }
    else
    {
        <p></p>
    }
</div>
