@model topmeperp.Models.MapInfoModels
<div class="container-fluid">
    <h3>弱電管線發包數量</h3><br/>
    <h5>@ViewBag.Result5</h5>
    @if (null != Model)
    {
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>修改/刪除</th>
                    <th>項次</th>
                    <th>圖號</th>
                    <th>棟別</th>
                    <th>一次側位置</th>
                    <th>一次側名稱</th>
                    <th>二次側名稱</th>
                    <th>二次側位置</th>
                    <th>線材名稱</th>
                    <th>條數/組</th>
                    <th>線組數</th>
                    <th>線長度/條數</th>
                    <th>線總長</th>
                    <!--
                    <th>地線名稱</th>
                    <th>地線條數</th>
                    <th>地線總長</th>
                        -->
                    <th>管材名稱1</th>
                    <th>管長1</th>
                    <th>管組數1</th>
                    <th>管總長1</th>
                    <!--
                    <th>管材名稱2</th>
                    <th>管長2</th>
                    <th>管組數2</th>
                    <th>管總長2</th>
                        -->
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.mapLCP)
                {
                    <tr>
                        <td>
                            @Html.ActionLink("修改", "EditForLCP", new { id = item.LCP_ID }) |
                            @Html.ActionLink("刪除", "Delete", new { id = item.LCP_ID })
                        </td>
                        <td>@Html.DisplayFor(modelItem => item.EXCEL_ITEM)</td>
                        <td>@Html.DisplayFor(modelItem => item.MAP_NO)</td>
                        <td>@Html.DisplayFor(modelItem => item.BUILDING_NO)</td>
                        <td>@Html.DisplayFor(modelItem => item.PRIMARY_SIDE)</td>
                        <td>@Html.DisplayFor(modelItem => item.PRIMARY_SIDE_NAME)</td>
                        <td>@Html.DisplayFor(modelItem => item.SECONDARY_SIDE)</td>
                        <td>@Html.DisplayFor(modelItem => item.SECONDARY_SIDE_NAME)</td>
                        <td>@Html.DisplayFor(modelItem => item.WIRE_DESC)</td>
                        <td>@Html.DisplayFor(modelItem => item.WIRE_QTY_SET)</td>
                        <td>@Html.DisplayFor(modelItem => item.WIRE_SET_CNT)</td>
                        <td>@Html.DisplayFor(modelItem => item.WIRE_LENGTH)</td>
                        <td>@Html.DisplayFor(modelItem => item.WIRE_TOTAL_LENGTH)</td>
                        @**
    <td>@Html.DisplayFor(modelItem => item.GROUND_WIRE_DESC)</td>
    <td>@Html.DisplayFor(modelItem => item.GROUND_WIRE_QTY)</td>
    <td>@Html.DisplayFor(modelItem => item.GROUND_WIRE_TOTAL_LENGTH)</td>
                        *@
                        <td>@Html.DisplayFor(modelItem => item.PROJECT_ITEM_ID)</td>
                        <td>@Html.DisplayFor(modelItem => item.PIPE_1_LENGTH)</td>
                        <td>@Html.DisplayFor(modelItem => item.PIPE_1_SET)</td>
                        <td>@Html.DisplayFor(modelItem => item.PIPE_1_TOTAL_LEN)</td>
                        @**
    <td>@Html.DisplayFor(modelItem => item.PIPE_2_DESC)</td>
    <td>@Html.DisplayFor(modelItem => item.PIPE_2_LENGTH)</td>
    <td>@Html.DisplayFor(modelItem => item.PIPE_2_SET)</td>
    <td>@Html.DisplayFor(modelItem => item.PIPE_2_TOTAL_LEN)</td>
                        *@
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p></p>
    }
</div>
