@using topmeperp.Models
@model TND_TASKASSIGN
@{
    ViewBag.Title = "備標作業-修改任務分派";
    Layout = "~/Views/Shared/_MenuLayout.cshtml";
}

<div class="container-fluid">
    <!-- Reg-Form new { enctype = "multipart/form-data" } -->
    @using (Html.BeginForm("EditForTask", "Tender", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div class="row">
            <br />
            <div class="row col-md-12" style="padding-bottom:30px;">
                <div class="col-md-4">
                    <h3>任務分派修改</h3>
                </div>
                <div class="col-md-8" style="padding-top:10px;">
                    <input type="button" class="btn btn-success" onclick="javascript:window.location='@Url.Action("Index", "Tender")'" value="回首頁">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <div class="row ">
                    @Html.HiddenFor(m => m.TASK_ID)
                    @Html.HiddenFor(m => m.PROJECT_ID)
                    <label class="col-md-2 control-label">任務類型 : </label>
                    <div class="col-md-10">
                        <label class="input">
                            @Html.TextBoxFor(m => m.TASK_TYPE, new { @class = "form-control" })
                        </label>
                    </div>

                    <label class="col-md-2 control-label">負責人員 : </label>
                    <div class="col-md-10">
                        <label class="input">
                            @Html.TextBoxFor(m => m.USER_ID, new { @class = "form-control" })
                        </label>
                    </div>

                    <label class="col-md-2 control-label">負責項目 : </label>
                    <div class="col-md-10">
                        <label class="input">
                            @Html.TextBoxFor(m => m.TASK_ITEM, new { @class = "form-control" })
                        </label>
                    </div>

                    <label class="col-md-2 control-label">備註 : </label>
                    <div class="col-md-10">
                        <label class="input">
                            @Html.TextBoxFor(m => m.REMARK, new { @class = "form-control" })
                        </label>
                    </div>

                    <label class="col-md-2 control-label">預定完成日 : </label>
                    <div class="col-md-10">
                        <label class="input">
                            @Html.TextBoxFor(m => m.FINISH_DATE, new { @class = "form-control", @id = "due_date"})
                        </label>
                    </div>
                    @Html.HiddenFor(m => m.CREATE_ID)
                    @Html.HiddenFor(m => m.CREATE_DATE)
                </div>
            </div>
            <div class="col-md-4 alert-info">@Html.Raw(ViewBag.ErrorMessage)</div>
            <div class="col-md-4 alert-info">@Html.Raw(ViewBag.result)</div>
        </div>
            <br />
            <div class="row">
                <div class="" col-md-12">
                    <input type="submit" value="儲存" class="btn btn-default" />
                </div>
            </div>
    }
</div>

<script>
    $(document).ready(function () {
        $(function () {
            $('#due_date').datetimepicker({
                format: 'YYYY/MM/DD'
            });
        });
 })
</script>