
@model IEnumerable<topmeperp.Models.TND_PROJECT_ITEM>

<table class="table">
    <tr>
        <th>勾選</th>
        <th>
            @Html.DisplayNameFor(model => model.ITEM_ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ITEM_DESC)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ITEM_UNIT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ITEM_QUANTITY)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ITEM_UNIT_PRICE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MAN_PRICE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ITEM_REMARK)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>

            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.PROJECT_ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.PROJECT_ID })
            </td>
            <td><input type="checkbox" name="item[]" value="id"></td>
            <td>
                @Html.DisplayFor(modelItem => item.ITEM_ID)
            <td>
                @Html.DisplayFor(modelItem => item.ITEM_DESC)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ITEM_UNIT)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ITEM_QUANTITY)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ITEM_UNIT_PRICE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MAN_PRICE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ITEM_REMARK)
            </td>
        </tr>
    }

</table>
<div class="row">
    <div class="" col-md-12">
        <input type="submit" value="儲存" class="btn btn-default" />
    </div>
</div>


