@model IEnumerable<topmeperp.Models.CostChangeTask>

<table class="rwd-table">
    <tr>
        <th>
            異動單號
        </th>
        <th>
            說明
        </th>
        <th>
            處理狀態
        </th>
        <th>
            備註
        </th>
        <th>
            申請者
        </th>
        <th>
            下一步
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td data-th="異動單號">
                <a href='costChangeForm/@item.FORM_ID' target="_blank"> @item.FORM_ID </a>
            </td>
            <td data-th="說明">
                @item.REMARK_ITEM
                @item.REMARK_QTY
                @item.REMARK_PRICE
                @item.REMARK_OTHER
            </td>
            <td data-th="處理狀態">
                @{
                    switch (item.STATUS)
                    {
                        case "0":
                            <label>退件</label>
                            break;  // Always break each case
                        case "20":
                            <label>審核中</label>
                            break;
                        case "30":
                            <label>審核通過</label>
                            break;
                        default:
                            <label>草稿</label>
                            break;
                    }
                }
            </td>
            <td data-th="備註">
                @Html.DisplayFor(modelItem => item.REJECT_DESC )
            </td>
            <td data-th="申請者">@item.REQ_USER_ID</td>
            <td data-th="下一步">
                <a href='@(item.FORM_URL+item.FORM_ID)' target="_blank">@item.NOTE</a>
            </td>
        </tr>
                    }
</table>
