@model IEnumerable<topmeperp.Models.DirectCost>
@{
    ViewBag.Title = "執行預算作業";
    Layout = "~/Views/Shared/_MenuLayout.cshtml";
}

<h3 style="padding-bottom:8px">執行預算作業 : </h3>
<div class="col-md-12">
    <div class="col-md-3">
        <label>🎪預算填寫表連結 : </label>
        <a href="/Plan/downLoadBudgetForm?projectid=@ViewBag.projectid" target="_blank">下載</a>
    </div>
    <div class="col-md-6">
        <form class="form-inline" id="UploadFile" name="UploadFile" action="/Plan/uploadBudgetTable" method="post" enctype="multipart/form-data">
            <label for="file">🎪預算匯入:</label>
            <input type="file" name="fileBudget" id="fileBudget" style="display:inline" />
            <input id="btnUploadfile" name="btnUploadfile" type="submit" class="btn-primary" value="匯入檔案" />
            <input type="hidden" name="projectid" id="projectid" value="@ViewBag.projectid" />
        </form>
        @Html.Raw(TempData["result"])
    </div>

@*
    <div class="col-md-3 alert-danger">

    @Html.Raw(TempData["wagePrice"])

        @if (ViewBag.wageAmount == null)
            {
            <a href="/Tender/Create/@ViewBag.projectid" target="_blank" class="btn btn-link">輸入單日工資</a>
        }
        else
        {
            <label>單日工資: @ViewBag.wageAmount</label><a href="/Tender/Create/@ViewBag.projectid" target="_blank" class="btn btn-link">修改單日工資</a>
        }

    </div>*@
</div>
<div class="page-header">
    <div class="col-md-12 form-group">
        <form id="formBudget" name="formBudget" action="UpdateBudget" method="post">
            <div class="row">
                <div class="col-md-4 form-group">
                    <label for="id">專案編號:</label><input id="id" name="id" type="text" value="@ViewBag.projectid" class="form-control"  readonly="readonly" />
                </div>
                <div class="col-md-4">
                    <label for="name">專案名稱:</label><input id="name" name="name" type="text" value="@ViewBag.projectName" class="form-control" readonly="readonly" />
                </div>
                <div class="col-md-4 form-group" style="padding-top:22px">
                    <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("BudgetForForm","Plan", new { id = @ViewBag.projectid })'; ">詢價單預算</button>
                    <input type="button" class="btn btn-success" onclick="history.back()" value="回上一頁">

                </div>
            </div>
            <h5>@ViewBag.Result</h5>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>材料預算金額</th>
                        <th>工資預算金額</th>
                        <th>預算金額總計</th>
                        <!--h>發包金額總計</!--th>-->
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            @if (ViewBag.budgetdata != null)
                            {
                                <span style="color: red; font-size: 20px;">
                                    @String.Format("{0:N0}", ViewBag.budget)
                                </span>
                            }
                            else
                            {
                            }
                        </td>
                        <td>
                            @if (ViewBag.budgetdata != null)
                            {
                                <span style="color: red; font-size: 20px;">
                                    @String.Format("{0:N0}", ViewBag.wagebudget)
                                </span>
                            }
                            else
                            {
                            }
                        </td>
                        <td>
                            @if (ViewBag.budgetdata != null)
                            {
                                <span style="color: red; font-size: 20px;">
                                    @String.Format("{0:N0}", ViewBag.totalbudget)
                                </span>
                            }
                            else
                            {
                            }
                        </td>
                        @*
    <td>
        @if (ViewBag.p_cost != null)
        {
            <span style="color: red; font-size: 20px;">
                @String.Format("{0:N0}", ViewBag.p_cost)
            </span>
        }
        else
        {
        }
    </td>
                        *@
                    </tr>
                </tbody>
            </table>
            <table class="table fixed_headers1">
                <thead>
                    <tr>
                        <th>九宮格</th>
                        <th>次九宮格</th>
                        <th>名稱</th>
                        <th>合約金額</th>
                        <th>材料成本</th>
                        <th>材料預算折數 %</th>
                        <th>材料預算</th>
                        <th>工資成本</th>
                        <th>工資預算折數 %</th>
                        <th>工資預算</th>
                        <th>預算總金額</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in Model)
            {

                        <tr>
                            <td>
                                @Html.TextBox("code1", @item.MAINCODE, new { style = "width:50px", @readonly = "readonly" })
                            </td>
                            <td>
                                @Html.TextBox("code2", @item.SUB_CODE, new { style = "width:50px", @readonly = "readonly" })
                            </td>
                            <td>
                                @item.MAINCODE_DESC _ @item.SUB_DESC
                            </td>
                            <td>
                                @String.Format("{0:N0}", item.CONTRACT_PRICE)
                            </td>
                            <td>
                                @String.Format("{0:N0}", item.MATERIAL_COST_INMAP)
                            </td>
                            <td>
                                <input type="text" style="width:60px" name="inputbudget" id="inputbudget" value="@String.Format("{0:N0}", item.BUDGET)">
                            </td>
                            <td>
                                @String.Format("{0:N0}", item.MATERIAL_BUDGET_INMAP)
                            </td>
                            <td>
                                @String.Format("{0:N0}", item.MAN_DAY_INMAP)
                            </td>
                            <td>
                                <input type="text" style="width:60px" name="inputbudget4wage" id="inputbudget4wage" value="@String.Format("{0:N0}", item.BUDGET_WAGE)">
                            </td>
                            <td>
                                @String.Format("{0:N0}", item.MAN_DAY_BUDGET_INMAP)
                            </td>
                            <td>
                                @String.Format("{0:N0}", item.MATERIAL_BUDGET_INMAP + item.MAN_DAY_BUDGET_INMAP)
                            </td>
                        </tr>
                    }

                </tbody>
            </table>

        </form>
    </div>
</div>
@*
    <div class="row">
        <div class="col-md-12">

            @if (ViewBag.budgetdata != null)
            {
                <input type="button" value="儲存" class="btn btn-default" id="saveForm" />
            }
            else
            {
                <input type="button" value="儲存" class="btn btn-default" id="updateForm" />
            }

        </div>
    </div>
*@
<script type="text/javascript">
    $("#updateForm").click(function () {
        $.ajax({
            url: '@Url.Action("UpdateBudget", "Plan")',
            data: $('#formBudget').serialize(),
            type: "POST",
            dataType: 'text',
            success: function (msg) {
                alert(msg);
                window.location.reload()
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(thrownError);
            }
        });
    });
</script>
<script type="text/javascript">
    $("#saveForm").click(function () {
        $.ajax({
            url: '@Url.Action("RefreshBudget", "Plan")',
            data: $('#formBudget').serialize(),
            type: "POST",
            dataType: 'text',
            success: function (msg) {
                alert(msg);
                window.location.reload()
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(thrownError);
            }
        });
    });
    function myrefresh() {
        window.location.reload();
    }
</script>

