@model  topmeperp.Models.UserManageModels

@ViewBag.SearchResult
<table class="table">
    <tr>
        <th></th>
        <th>
            帳號
        </th>
        <th>
            姓名
        </th>
        <th>
            EMAIL
        </th>
        <th>
            電話-分機
        </th>
        <th>
            傳真
        </th>
        <th>
            手機
        </th>
        <th>
            角色
        </th>
        <th>
            修改日期
        </th>
    </tr>

    @foreach (var item in Model.sysUsers)
    {
        <tr>
            <td>
                @{
                    <a onclick="getUser('@item.USER_ID')">修改</a>
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.USER_ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.USER_NAME)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EMAIL)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TEL) - @Html.DisplayFor(modelItem => item.TEL_EXT)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FAX) 
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MOBILE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ROLE_ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MODIFY_DATE)
            </td>
        </tr>
                    }
</table>
