@model topmeperp.Models.PurchaseRequisitionDetail
@{
    ViewBag.Title = "專案執行-新增領料單";
    Layout = "~/Views/Shared/_MenuLayout.cshtml";
}

<div class="page-header">
    <input type="button" class="btn btn-success" onclick="javascript:window.location='@Url.Action("ReceiptSearch", "MaterialManage", new { id = @Model.planPR.PROJECT_ID })'" value="回上一頁">
    <form id="formDOFromRP" name="formDOFromRP" action="" method="post">
        <div class="row">
            <div class="col-md-12"><h3 style="height:30px;line-height:20px" class="text-center">協成水電工程事業有限公司-領料單(無標單品項)</h3></div>
        </div>
        <!-- Reg-Form new { enctype = "multipart/form-data" } -->
        <div class="row" id="printarea">
            <div class="row">
                <div class="col-md-3" style="padding-bottom:10px">
                    <label for="projectName">專案名稱:</label><input id="projectName" name="projectName" type="text" value="@Model.prj.PROJECT_NAME" class="form-control" style="background-color:#cccccc;" readonly="readonly" />
                </div>
                <div class="col-md-3" style="padding-bottom:30px">
                    <label for="pr_id">驗收單號:</label><input id="pr_id" name="pr_id" type="text" value="@Model.planPR.PR_ID" class="form-control" style="background-color:#cccccc;" readonly="readonly" />
                </div>
                <div class="col-md-3" style="padding-bottom:30px">
                    <label for="pr_id">領收日期:</label><input id="create_date" name="create_date" type="text" value="@ViewBag.createDate" class="form-control" style="background-color:#cccccc;" readonly="readonly" />
                </div>
                <div class="col-md-3" style="padding-bottom:30px">
                    <label for="pr_id">領收單號:</label><input id="form_id" name="form_id" type="text" value="@ViewBag.formid" class="form-control" style="background-color:#cccccc;" readonly="readonly" />
                </div>
                <input type="hidden" name="projectid" id="projectid" value="@Model.planPR.PROJECT_ID">
            </div>
            <div class="contailer" style="page-break-before: always">
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                No.
                            </th>
                            <th>
                                項次
                            </th>
                            <th>
                                項目說明
                            </th>
                            <th>
                                單位
                            </th>
                            <th>
                                採購數量
                            </th>
                            <th>
                                需求日期
                            </th>
                            <th>
                                備註
                            </th>
                            <th>
                                驗收數量
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.planPRItem)
                        {

                            <tr>
                                <td>
                                    @Html.TextBox("pr_item_id", @item.PR_ITEM_ID, new { @class = "form-control", style = "width:90px", @readonly = "readonly" })
                                </td>
                                <td>
                                    @item.ITEM_ID
                                </td>
                                <td>
                                    @item.ITEM_DESC
                                </td>
                                <td>
                                    @item.ITEM_UNIT
                                </td>
                                <td>
                                    @item.ORDER_QTY
                                </td>
                                <td>
                                    @item.NEED_DATE
                                </td>
                                <td>
                                    @item.REMARK
                                </td>
                                <td>
                                    @item.RECEIPT_QTY
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="col-md-12" style="padding-bottom:30px;">
                <div class="col-md-4">
                    採購需求說明:<textarea class="form-control" rows="5" id="message" name="message" readonly>@Model.planPR.MESSAGE</textarea>
                </div>
                <div class="col-md-4">
                    驗收備忘錄:<textarea class="form-control" rows="5" id="memo" name="memo" readonly>@Model.planPR.MEMO</textarea>
                </div>
                <div class="col-md-4">
                    領料說明:<textarea class="form-control" rows="5" id="caution" name="caution" style="font-size: 15px;">@ViewBag.caution</textarea>
                </div>
            </div>
            <div style="padding-bottom:30px;">
                <span id="JustPrint" style="color: blue; font-size: 20px;">領收人簽名 : </span>
            </div>
        </div>
    </form>
</div>

<div class="row">
    <div class="col-md-12">
        @if (null == ViewBag.formid || ViewBag.formid == "")
        {
            <input type="button" value="新增" class="btn btn-default" id="addDO" />
        }
        @if (null != ViewBag.formid && ViewBag.formid != "")
        {
            <input id="btnPrint" type="button" class="btn btn-info" value="列印" onclick="javascript: printpage('printarea')" />
        }
    </div>
</div>


<script language="javascript" type="text/javascript">

    $("#addDO").click(function () {
        $.ajax({
            url: '@Url.Action("AddDOFromRP", "MaterialManage")',
            data: $('#formDOFromRP').serialize(),
            type: "POST",
            dataType: 'text',
            success: function (msg) {
                alert(msg);
                window.location.reload()
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(thrownError);
            }
        });
    });

    function printpage(printarea) {

        //var newstr = document.all.item(printarea).innerHTML;
        var newstr = document.getElementById(printarea).innerHTML;
        var oldstr = document.body.innerHTML;
        document.body.innerHTML = newstr;
        window.print();
        document.body.innerHTML = oldstr;
        return false;
    }

</script>

