@model IEnumerable<topmeperp.Models.RePaymentFunction>

@{
    ViewBag.Title = "代付扣回-選商 : ";
    Layout = "~/Views/Shared/_MenuLayout.cshtml";
}
@using (Html.BeginForm("AddRefund", "Estimation", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="row" style="padding-top : 15px">
        <input type="button" class="btn btn-success" onclick="history.back()" value="回上一頁">
        <input type="hidden" id="formid" name="formid" value="@ViewBag.formid" />
        <input type="hidden" id="contractid" name="contractid" value="@ViewBag.contractid" />
    </div>
    <div style="padding-top : 20px">
        <table class="table">
            <tr>
                <th><input type="checkbox" name="CheckAll" id="CheckAll">全選</th>
                <th>
                    請款單號
                </th>
                <th>
                    請款廠商
                </th>
                <th>
                    應扣金額
                </th>
                <th>
                    說明事項
                </th>
                <th>
                </th>
            </tr>

            @foreach (var item in Model)
                {
                <tr>
                    <td>
                        <input type="checkbox" id="chkItem" name="chkItem" value="@item.OTHER_PAYMENT_ID" />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EST_FORM_ID_REFUND)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.COMPANY_NAME)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AMOUNT)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.REASON)
                    </td>
                </tr>
            }
        </table>
        <div style="padding-top : 10px">
            @if (ViewBag.status < 30)
            {
                <input id="Submit1" type="submit" class="btn btn-warning" value="挑選" />
            }
        </div>
    </div>
}

<script language="javascript" type="text/javascript">
    $(document).ready (function () {
        $("#CheckAll").click(function () {
            if ($("#CheckAll").prop("checked")) {
                $("input[name='chkItem']").prop("checked", true);
            } else
                $("input[name='chkItem']").prop("checked", false);
        });
    });
</script>
<script language="javascript" type="text/javascript">
    function GetCheckedValue(checkBoxName) {
        return $('input:checkbox[name=' + checkBoxName + '][checked=true]').map(function () {
            return $(this).val();
        })
          .get().join(',');
    }
</script>

