@{
    ViewBag.Title = "代付支出 : 明細資料";
    Layout = "~/Views/Shared/_MenuLayout.cshtml";
}
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0rc1/angular.min.js"></script>
<div class="page-header">
    <h3>@ViewBag.Title</h3>
    <div ng-app="" ng-controller="MyCtrl">
        <form id="repayment_form" name="repayment_form" class="form-inline" ng-submit="submit()">
            <div class="row">
                <div class="col-md-4">
                    <label for="projectName">專案名稱:</label>
                    <input id="projectName" name="projectName" type="text" value="@ViewBag.projectName" class="form-control" style="max-width:none;width:80%;background-color:#cccccc;" readonly="readonly" />
                    <input type="hidden" id="contractid" name="contractid" value="@ViewBag.contractid" />
                </div>
                <div class="col-md-4">
                    <label for="formname">發包項目:</label><input id="formname" name="formname" type="text" value="@ViewBag.formname" class="form-control" style="background-color:#cccccc;" readonly="readonly" />
                </div>
                <div class="col-md-4">
                    <label for="formid">估驗單編號:</label><input id="formid" name="formid" type="text" value="@ViewBag.formid" class="form-control" style="background-color:#cccccc;" readonly="readonly" />
                </div>
            </div>
            <div class="row" style="padding-top:5px">
                <input type="button" class="btn btn-default" value="關閉" onclick="window.close();" />
                <!--若狀態未經審核，則使用者可修改-->
                @if (ViewBag.status < 30)
                {
                    <input type="submit" value="儲存" class="btn btn-success" id="saveForm" />
                    <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("ChooseSupplier", "Estimation", new { id = @ViewBag.formid , contractid = @ViewBag.contractid })'; ">挑選廠商</button>
                }
            </div>
            <div class="contailer" style="padding-top:20px">
                <ng-form ng-repeat="key in keys" name="keyForm">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                    刪除
                                </th>
                                <th>
                                    廠商:
                                </th>
                                <th>
                                    應扣金額：
                                </th>
                                <th>
                                    說明事項：
                                </th>
                                <th>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <span class="btn btn-info">
                                        <button type="button" class="close" ng-click="remove($index)">&times;</button>
                                    </span>
                                </td>
                                <td>
                                    <input type="text" style="width:500px" ng-model="key.SUPPLIER_ID" required readonly>
                                </td>
                                <td>
                                    <input type="number" id="input_amount" name="input_amount" style="width:80px" ng-model="key.HOLD_AMOUNT" required>
                                    <span ng-show="keyForm.input_amount.$error.required" style="color:red;">應扣金額不可為空</span>
                                </td>
                                <td>
                                    <input type="text" style="width:500px" id="input_reason" name="input_reason" ng-model="key.REMARK" required>
                                    <span ng-show="keyForm.input_reason.$error.required" style="color:red;">說明事項不可為空</span>
                                </td>
                                <td>
                                    <input type="hidden" id="contractid4refund" name="contractid4refund" value={{key.HOLD_ID}}>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </ng-form>
            </div>
        </form>
    </div>
</div>
<script>
    function MyCtrl($scope) {
        //取得資料
        $scope.keys = @Html.Raw(ViewData["items"]);
        $scope.show = function () {
            $scope.keys.push({ supplier: $scope.key.SUPPLIER_ID, amount: $scope.key.HOLD_AMOUNT, reason: $scope.key.REMARK, contractid4refund : $scope.key.HOLD_ID  });
        };
        $scope.remove = function (index) {
            $scope.keys.splice(index, 1);
        };
    }
    $("#saveForm").click(function () {
        var boolAmtEmpty = false;
        $('table > tbody > tr').each(function(){
            var amount = null;
            amount = $.trim($(this).find("#input_amount").val());
            if(amount == '') {
                boolAmtEmpty = true;
            }
        });
        if (boolAmtEmpty == true) {
            alert('欄位 : 應扣金額，不可空白!');
            return false;
        }
        var boolReasonEmpty = false;
        $('table > tbody > tr').each(function(){
            var reason = null;
            reason = $.trim($(this).find("#input_reason").val());
            if(reason == '') {
                boolReasonEmpty = true;
            }
        });
        if (boolReasonEmpty == true) {
            alert('欄位 : 說明事項，不可空白!');
            return false;
        }
        $.ajax({
            url: '@Url.Action("UpdateRePay", "Estimation")',
            data: $('#repayment_form').serialize(),
            type: "POST",
            dataType: 'text',
            success: function (msg) {
                alert(msg);
                window.location.reload()
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(thrownError);
            }
        });
    });

</script>

