
@{
    ViewBag.Title = "計價資料 : ";
    Layout = "~/Views/Shared/_MenuLayout.cshtml";
}
<script src="~/Scripts/angular.js"></script>

<div class="page-header">
    <h3 style="height:10px;line-height:5px">@ViewBag.Title</h3>
    
    <div class="row">
        <div class="col-md-1" style="padding-bottom:15px;">
            <input type="button" class="btn btn-success" onclick="location.href='@Url.Action("Valuation4Owner", "Estimation", new { id = ViewBag.projectId })'" value="回上一頁">
        </div>
        <div class="col-md-1" style="padding-bottom:15px">
            <input type="button" value="儲存" class="btn btn-default" onclick="saveVA()" />
        </div>
        @if (ViewBag.NotePieces > 0)
        {
        <div class="col-md-1" style="padding-bottom:15px">
            <a class="btn btn-link" href="/Estimation/downLoadCreditNote?projectid=@ViewBag.projectId&formid=@ViewBag.formid" target="_blank">下載折讓單</a>
        </div>
        }
    </div>
    <div ng-app="" ng-controller="MyCtrl">
        <div class="row" style="padding-bottom:30px">
            <div class="col-md-3">
                <label for="projectName">專案名稱:</label><input id="projectName" name="projectName" type="text" value="@ViewBag.projectName" class="form-control" style="background-color:#cccccc;" readonly="readonly" />
            </div>
            <div class="col-md-3">
                <label for="supplier">業主名稱:</label><input id="supplier" name="supplier" type="text" value="@ViewBag.supplier" class="form-control" style="background-color:#cccccc;" readonly="readonly" />
            </div>
        </div>
        <form id="invoice_form" name="invoice_form" ng-submit="submit()" action="/Estimation/updateVAItem" method="post" enctype="multipart/form-data">
            <label for="advance_payment" class="col-md-2 control-label">預收款(未稅) :</label>
            <div class="col-md-4" style="padding-top:2px">
                @if (ViewBag.advance != null)
                {
                    <input type="text" class="form-control" name="advance_payment" id="advance_payment" value="@String.Format("{0:#,##0.#}", ViewBag.advance)">
                }
                else
                {
                    <input type="text" class="form-control" name="advance_payment" id="advance_payment" value="">
                }
            </div>
            <label for="va_amount" class="col-md-2 control-label">請款金額(未稅) :</label>
            <div class="col-md-4" style="padding-top:2px">
                @if (ViewBag.vaAmt != null)
                {
                    <input type="text" class="form-control" name="va_amount" id="va_amount" value="@String.Format("{0:#,##0.#}", ViewBag.vaAmt)">
                }
                else
                {
                    <input type="text" class="form-control" name="va_amount" id="va_amount" value="">
                }
            </div>
            <label for="retention_amount" class="col-md-2 control-label">保留款(含稅) :</label>
            <div class="col-md-4" style="padding-top:2px">
                @if (ViewBag.retentiont != null)
                {
                    <input type="text" class="form-control" name="retention_amount" id="retention_amount" value="@String.Format("{0:#,##0.#}", ViewBag.retention)">
                }
                else
                {
                    <input type="text" class="form-control" name="retention_amount" id="retention_amount" value="" placeholder="正值為扣款;負值為請款">
                }
            </div>
            <label for="advance_refund" class="col-md-2 control-label">預收扣回(未稅) :</label>
            <div class="col-md-4" style="padding-top:2px">
                @if (ViewBag.advanceRefund != null)
                {
                    <input type="text" class="form-control" name="advance_refund" id="advance_refund" value="@String.Format("{0:#,##0.#}", ViewBag.advanceRefund)">
                }
                else
                {
                    <input type="text" class="form-control" name="advance_refund" id="advance_refund" value="">
                }
            </div>
            <label for="remark" class="col-md-2 control-label">備註 :</label>
            <div class="col-md-4" style="padding-top:2px">
                <input type="text" class="form-control" name="remark" id="remark" value="@ViewBag.remark">
            </div>
            <label for="tax_ratio" class="col-md-2 control-label">稅率% :</label>
            <div class="col-md-4" style="padding-top:2px">
                @if (null != ViewBag.taxRatio && ViewBag.taxRatio != 0)
                {
                    <input type="text" class="form-control" name="tax_ratio" id="tax_ratio" value="@ViewBag.taxRatio">
                }
                else
                {
                    <input type="text" class="form-control" name="tax_ratio" id="tax_ratio" value="5">
                }
            </div>

            <label class="col-md-3 control-label">上傳計價檔案: </label>
            <div class='col-md-9' style="padding-top:10px">
                <input type="file" name="file" id="file" />
            </div>
            <input type="hidden" class="form-control" name="creatId" id="creatId" value="@ViewBag.creatId">
            <input type="hidden" class="form-control" name="createDate" id="createDate" value="@ViewBag.createDate">
            <input type="hidden" class="form-control" name="modifyDate" id="modifyDate" value="@ViewBag.modifyDate">
            <input type="hidden" class="form-control" name="projectId" id="projectId" value="@ViewBag.projectId">
            <input type="hidden" class="form-control" name="formid" id="formid" value="@ViewBag.formid">
            <div style="color:blue "><h4>若要輸入憑證資料請按下"新增"鈕</h4></div>
            <ng-form ng-repeat="key in keys" name="keyForm">
                <span class="btn btn-info">
                    <button type="button" class="close" ng-click="remove($index)">&times;</button>
                </span>
                No.{{$index +1}}
                <div class="alert alert-info">
                    憑證日期:
                    @if (ViewBag.InvoicePieces > 0)
                    {
                        <input type="text" id="invoice_date" name="invoice_date" value="{{ key.INVOICE_DATE | date :'yyyy/MM/dd' }}" required>
                    }
                    else
                    {
                        <input type="date" id="invoice_date" name="invoice_date" ng-model="key.INVOICE_DATE" required>
                        <lable>{{ key.INVOICE_DATE | date :'yyyy 年 MM 月 dd 日' }}</lable>
                    }
                    憑證號碼:
                    <input type="text" id="invoice_number" name="invoice_number" style="width:200px" ng-model="key.INVOICE_NUMBER" required>
                    銷售金額：
                    <input type="number" id="input_amount" name="input_amount" style="width:100px" ng-model="key.AMOUNT" required>
                    營業稅：
                    <input type="number" id="taxamount" name="taxamount" style="width:100px" ng-model="key.TAX" required>
                    合計 :
                    {{key.AMOUNT + key.TAX | number }}
                    <br />
                    憑證類型 :
                    <select style="color:deeppink;font-weight:bold; width:120px" id="invoicetype" name="invoicetype" ng-model="key.TYPE" required>
                    <option value="二聯式">二聯式</option>
                    <option value="三聯式">三聯式</option>
                    <option value="收據">收據</option>
                    <option value="工資單">工資單</option><option value="對開發票">對開發票</option><option value="折讓單">折讓單</option><option value="其他扣款">其他扣款</option></select>
                    <span ng-show="key.TYPE == '折讓單'">
                        <select style="color:cornflowerblue;font-weight:bold; width:120px" id="sub_type" name="sub_type" ng-model="key.SUB_TYPE" required><option value="溢開折讓">溢開折讓</option><option value="扣款折讓">扣款折讓</option><option value="代收代付">代收代付</option></select>
                        品名 :
                        <input type="text" id="plan_item_id" name="plan_item_id" style="width:200px" ng-model="key.PLAN_ITEM_ID" required>
                        數量 :
                        <input type="text" id="discount_qty" name="discount_qty" style="width:100px" ng-model="key.DISCOUNT_QTY" required>
                        單價 :
                        <input type="text" id="discount_unit_price" name="discount_unit_price" style="width:100px" ng-model="key.DISCOUNT_UNIT_PRICE" required>
                    </span>
                </div>
                <br />
            </ng-form>
            <div style="padding-top : 30px">
                <input type="submit" value="新增" ng-click="addKey()" class="btn btn-warning" />
            </div>

        </form>

    </div>
</div>
<script>
    function MyCtrl($scope) {
        $scope.keys = @Html.Raw(ViewData["items"]);
        $scope.show = function () {
            $scope.keys.push({ number:$scope.key.INVOICE_NUMBER, amount: $scope.key.AMOUNT, taxamount: $scope.key.TAX, type: $scope.key.TYPE });
        };
        $scope.addKey = function () {
            $scope.keys.push({date: null, number: null, amount: null, tax: null, type: null, sub_type: null, plan_item_id : null, discount_qty: null, discount_unit_price: null });
        };
        $scope.remove = function (index) {
            $scope.keys.splice(index, 1);
        };

    }

    function saveVA() {
        $("#invoice_form").submit(function (e) {
            var formObj = $(this);
            var formURL = formObj.attr("action");
            var formData = new FormData(this);
            //var URLs = "/Estimation/addVAItem";
            $.ajax({
                url: formURL,
                type: 'POST',
                data: formData,
                mimeType: "multipart/form-data",
                contentType: false,
                cache: false,
                processData: false,
                //url: URLs,
                //data: $('#formVAItem').serialize(),
                //type: "POST",
                //dataType: 'text',
                success: function (msg) {
                    alert(msg);
                    window.location.reload();
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert(thrownError);
                }
            });
            e.preventDefault(); //Prevent Default action.
            e.unbind();
        });
        $("#invoice_form").submit(); //Submit the form
        // document.forms["formFileUpload"].submit();
    }

</script>
