<div class="page-header">
    @*<a href="../downloadAllTemplate?projectid=@ViewBag.projectid" class="btn btn-info" target="_blank">下載所有空白詢價單</a>*@
    <form class="form-inline" id="form4op" name="form4op">
        <div class="col-md-12 form-group">
            <div class="col-md-2">
                <a href="/PurchaseForm/FormIndex/@ViewBag.projectid" class="btn btn-warning" target="_blank">建立詢價單</a>
            </div>
            <div id="id" class="col-md-5 text-left ">
                <label for="wageunitprice"> 工資單價 :</label> <input id="wageunitprice" name="wageunitprice" type="text" value="@ViewBag.wageunitprice" class="form-control" />
                <a href="/Tender/Create/@ViewBag.projectid" target="_blank" class="btn btn-link">更新</a>
            </div>
        </div>
    </form>
    <hr />
    <div class="container">
        <form id="4formName" name="4formName" action="UpdateFormName" method="post">
            @if (null != Model.BudgetSummary.Wage_Budget)
            {
                <h3>代工預算: @String.Format("{0:#,##}", Model.BudgetSummary.Wage_Budget)</h3>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>編號</th>
                            <th>詢價單名稱</th>
                            <th>預算金額</th>
                            <th>報價單數量</th>
                            <th>下載連結</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            decimal WageBudgetAmt = 0;
                        }
                        @foreach (var item in Model.wageTemplateWithBudget)
                {
                            <tr>
                                <td>
                                    <a href="/PurchaseForm/SinglePrjForm/@item.INQUIRY_FORM_ID?update=Y" target="_blank">@item.INQUIRY_FORM_ID</a>
                                </td>
                                <td>@item.FORM_NAME</td>
                                <td>
                                    @if (null != item.BudgetAmount)
                                    {
                                        @String.Format("{0:#,##}", item.BudgetAmount);
                                        WageBudgetAmt = WageBudgetAmt + item.BudgetAmount;
                                    }
                                    else
                                    {
                                        <font class="label-danger">未編預算</font>
                                    }
                                </td>
                                <td>@item.CountPO</td>
                                <td>
                                    <a href="/PurchaseForm/downLoadInquiryForm?formid=@item.INQUIRY_FORM_ID&isTemp=N" target="_blank">下載</a>
                                    <a href="/PurchaseForm/SinglePrjForm/@item.INQUIRY_FORM_ID" target="_blank">廠商詢價單</a>
                                </td>
                            </tr>
                        }

                    </tbody>
                </table>
                <h3 class="text-left">分項預算總額: @String.Format("{0:#,##}", WageBudgetAmt)</h3>
                            }
                            else
                            {
                                <p>尚未建立相關詢價單樣板，透過批次建立詢價單或新增詢價單建立空白詢價單!!</p>
                            }
        </form>
    </div>
</div>
