@model IEnumerable<topmeperp.Models.purchasesummary>
<table class="table">
    <tr>
        <th>
            採購項目
        </th>
        <th>
            詢價單編號
        </th>
        <th>
            廠商名稱
        </th>
        <th>
            採購項目個數
        </th>
        <th>
            採購金額總計
        </th>

    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FORM_NAME)
            </td>
            <td>
                @item.INQUIRY_FORM_ID
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SUPPLIER_ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TOTALROWS)
            </td>
            <td>
                <span style="color: red; font-size: 15px;">
                    @String.Format("{0:C0}", item.TAmount)
                </span>
            </td>
        </tr>
    }
</table>
    <div id="JustPrint" style="padding-top:20px">
        <h4 style="color:blue">意見 :</h4>
        <div style="border:inset;height:300px;">
        </div>
        <h4 style="color:blue">主管簽核 :</h4>
        <table class="table">
            <tr>
                <th>
                    總經理 :
                </th>
                <th>
                    覆核 :
                </th>
                <th>
                    業務部主管 :
                </th>
                <th>
                    承辦人 :
                </th>
            </tr>
        </table>
    </div>
    


