@model topmeperp.Models.PurchaseFormDetail
@{
    ViewBag.Title = "專案執行-採購詢價單/報價單 ";
    Layout = "~/Views/Shared/_MenuLayout.cshtml";
    var total = "";
}

<div class="page-header">
    <form id="formSupplier" name="formSupplier" action="UpdatePrjForm" method="post">
        <div class="row">
            <div class="col-md-7"><h3 class="text-center">協成水電工程事業有限公司-採購詢價單</h3></div>
            <div class="col-md-3">
                <h5 class="text-right">
                    工資:
                    @if (@Model.planForm.ISWAGE == "Y")
                    {
                        <input type="checkbox" name="isWage" id="isWage" value="Y" checked />}
                    else
                    {
                        <input type="checkbox" name="isWage" id="isWage" value="Y" />
                    }
                </h5>
            </div>
            <div class="col-md-1 alert-warning">
                @if (ViewBag.targetSupplier != false)
                {
                    <h5 class="text-right">
                        已簽約
                    </h5>
                }
            </div>
            <div class="col-md-1 alert-warning"><h5 class="text-right">狀態:@Model.planForm.STATUS</h5></div>
        </div>
        <!-- Reg-Form new { enctype = "multipart/form-data" } -->

        <div class="row">
            <div class="form-group">
                <label for="inputprojectname" class="col-md-2 control-label">專案名稱</label>
                <div class="col-md-4">
                    @Model.prj.PROJECT_NAME
                </div>
            </div>
            <div class="form-group">
                <label for="inputsuppliername" class="col-md-2 control-label">廠商名稱 </label>
                <div class="col-md-4 ">
                    @if (Model.planForm.SUPPLIER_ID != null)
                    {
                        <input type="text" class="form-control" name="supplier" id="supplier" value="@Model.planForm.SUPPLIER_ID" readonly="readonly">
                    }
                    else
                    {
                        <input type="text" class="typeahead form-control" id="supplier" name="supplier" autocomplete="off">
                    }
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <label for="inputitem" class="col-md-2 control-label">採購項目</label>
                <div class="col-md-4">
                    <input type="text" class="form-control" name="formname" id="formname" value="@Model.planForm.FORM_NAME">
                </div>
            </div>
            <div class="form-group">
                <label for="inputcontact" class="col-md-2 control-label">聯絡人</label>
                <div class="col-md-4">
                    @if (Model.planForm.CONTACT_NAME != null)
                    {
                        <input type="text" class="form-control" name="inputcontact" id="inputcontact" value="@Model.planForm.CONTACT_NAME" readonly="readonly">
                    }
                    else
                    {
                        <select class="form-control" id="inputcontact" name="inputcontact"></select>
                    }
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <label for="inputowner" class="col-md-2 control-label">承辦人</label>
                <div class="col-md-4">
                    <input type="text" class="form-control" name="inputowner" id="inputowner" value="@Model.planForm.OWNER_NAME">
                </div>
            </div>
            <div class="form-group">
                <label for="inputemail" class="col-md-2 control-label">E-mail</label>
                <div class="col-md-4">
                    @if (Model.planForm.CONTACT_EMAIL != null)
                    {
                        <input type="text" class="form-control" name="inputemail" id="inputemail" value="@Model.planForm.CONTACT_EMAIL" readonly="readonly">
                    }
                    else
                    {
                        <input type="text" class="form-control" name="inputemail" id="inputemail" style="background: #CCC" placeholder="如果未帶入，請手動輸入!!">
                    }
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <label for="inputphone" class="col-md-2 control-label">聯絡電話</label>
                <div class="col-md-4">
                    <input type="text" class="form-control" name="inputphone" id="inputphone" value="@Model.planForm.OWNER_TEL">
                </div>
            </div>
            <div class="form-group">
                <label for="inputdeteline" class="col-md-2 control-label">報價期限</label>
                <div class="col-md-4">
                    @if (Model.planForm.DUEDATE != null)
                    {
                        <input type="text" class="form-control" name="inputdateline" id="inputdateline" value="@Model.planForm.DUEDATE.Value.ToString("yyyy/MM/dd")">
                    }
                    else
                    {
                        <input type="text" class="form-control" name="inputdateline" id="inputdateline" value="">
                    }
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <label for="inputowneremail" class="col-md-2 control-label">承辦人E-mail</label>
                <div class="col-md-4">
                    <input type="text" class="form-control" name="inputowneremail" id="inputowneremail" value="@Model.planForm.OWNER_EMAIL">
                </div>
            </div>
            <div class="form-group">
                <label for="inputformnumber" class="col-md-2 control-label">詢價單編號</label>
                <div class="col-md-4">
                    <input type="text" class="form-control" name="inputformnumber" id="inputformnumber" value="@Model.planForm.INQUIRY_FORM_ID" readonly="readonly">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <label for="inputownerfax" class="col-md-2 control-label">承辦人傳真</label>
                <div class="col-md-4">
                    <input type="text" class="form-control" name="inputownerfax" id="inputownerfax" value="@Model.planForm.OWNER_FAX">
                </div>
                <input type="hidden" name="projectid" id="projectid" value="@Model.planForm.PROJECT_ID" />
                <input type="hidden" name="createid" id="createid" value="@Model.planForm.CREATE_ID" />
                <input type="hidden" name="createdate" id="createdate" value="@Model.planForm.CREATE_DATE" />
            </div>
        </div>
        <br /><br />
        <div class="contailer" style="page-break-before: always">
            <table class="table">
                <tr>
                    <th>
                        No.
                    </th>
                    <th>
                        項次
                    </th>
                    <th>
                        項目說明
                    </th>
                    <th>
                        單位
                    </th>
                    <th>
                        數量
                    </th>
                    <th>
                        單價
                    </th>
                    <th>
                        複價
                    </th>
                    <th>
                        備註
                    </th>
                    <th></th>
                </tr>
                @foreach (var item in Model.planFormItem)
                {

                    <tr>
                        <td>
                            @Html.TextBox("formitemid", @item.INQUIRY_ITEM_ID, new { style = "width:50px", @readonly = "readonly" })
                        </td>
                        <td>
                            @item.ITEM_ID
                            <input type="hidden" id="fItemId" name="fItemId" value="@item.ITEM_ID" />
                        </td>
                        <td>
                            @item.ITEM_DESC
                            <input type="hidden" id="fItemDesc" name="fItemDesc" value="@item.ITEM_DESC" />
                        </td>
                        <td>
                            @item.ITEM_UNIT
                            <input type="hidden" id="fItemUnit" name="fItemUnit" value="@item.ITEM_UNIT" />
                        </td>
                        <td>
                            @if (@item.ITEM_QTY != null)
                            {
                                <input type="text" class="form-control" name="formQty" id="formQty" value="@item.ITEM_QTY" style="width:100px">
                            }
                            else
                            {
                                <input type="text" class="form-control" name="formQty" id="formQty" value="" style="width:100px">
                            }


                        </td>
                        <td>
                            @if (@item.ITEM_UNIT_PRICE != null)
                            {
                            <input type="text" class="form-control" name="formunitprice" id="formunitprice" value="@item.ITEM_UNIT_PRICE" style="width:100px">
                            }
                            else
                            {
                            <input type="text" class="form-control" name="formunitprice" id="formunitprice" value="" style="width:100px">
                            }
                        </td>
                        <td>
                            @{total = "";}
                            @if (item.ITEM_QTY != null && item.ITEM_UNIT_PRICE != null)
                            {
                                total = string.Format("{0:#,##0.00}", item.ITEM_UNIT_PRICE * item.ITEM_QTY);
                            }
                            @total
                        </td>
                        <td>
                            @if (ViewBag.targetSupplier != false)
                            {
                                @Html.TextBox("remark", @item.ITEM_REMARK, new { style = "width:500px", @class = "form-control", @readonly = "readonly" })
                            }
                            else
                            {
                                @Html.TextBox("remark", @item.ITEM_REMARK, new { style = "width:500px", @class = "form-control" })
                            }
                        </td>
                        <td><input type="hidden" name="plan_item_id" id="plan_item_id" value="@item.PLAN_ITEM_ID"></td>
                    </tr>
                                }
            </table>
        </div>
    </form>
</div>

<div class="row">
    <div class="col-md-12">
        @if (Model.planForm.DUEDATE != null || ViewBag.update != "N")
        {
            <input type="button" value="更新" class="btn btn-default" id="updateForm" />
        }
        else
        {
            <input type="button" value="新增" class="btn btn-default" id="saveForm" />
        }
        @if (Model.planForm.STATUS != "有效")
        {
            <input type="button" value="回復" class="btn btn-info" id="disableBtn" onclick="chaneFormStatus('有效')" />
        }
        else
        {
            <input type="button" value="註銷" class="btn btn-warning" id="disableBtn" onclick="chaneFormStatus('註銷')" />
        }
    </div>
</div>

<script>
    $(document).ready(function () {
        $(function () {
            $('#inputdateline').datetimepicker({
                format: 'YYYY/MM/DD'
            });
        });
    })
</script>
<script type="text/javascript">
    ///Auto Complete 公司名稱
    $('#supplier').typeahead({
        source: function (query, process) {
            return $.ajax({
                url: '/PurchaseForm/aotoCompleteData',
                type: 'post',
                dataType: 'json',
                success: function (result) {
                    process(result);
                }
            })
        },
        afterSelect: function (data) {
            getContactor(data);
        }
    }
    );

    ///依據廠商資料取得聯絡人資訊
    function getContactor(supid) {
        $.ajax({
            dataType: "json",
            type: "POST",
            async: false,
            data: { "Supplier": supid },
            url: '/PurchaseForm/getContactor',
            cache: false,
            success: function (data) {
                console.log(data);
                $("#inputcontact").empty();
                for (var i = 0; i < data.length; i++) {
                    $("#inputcontact").append("<option value='" + data[i].CONTACT_ID + "'>" + data[i].CONTACT_ID + "-" + data[i].CONTACT_NAME + "</option>");
                }
            }
        });
    };
</script>
<script type="text/javascript">
    $("#saveForm").click(function () {
        if ($("#Supplier").val() == "") { alert("廠商名稱欄位不可空白，請輸入廠商名稱!!"); return false; }
        if ($("#inputdateline").val() == "") { alert("報價期限欄位不可為空白!!"); return false; }
        if ($("#formname").val() == "") { alert("採購項目欄位不可為空白!!"); return false; }
        if ($("#inputownerfax").val() == "") { alert("承辦人傳真欄位不可為空白!!"); return false; }
        if ($("#inputowneremail").val() == "") { alert("承辦人E-mail欄位不可為空白!!"); return false; }
        if ($("#inputphone").val() == "") { alert("聯絡電話欄位不可為空白!!"); return false; }
        $.ajax({
            url: '@Url.Action("UpdatePrjForm", "PurchaseForm")',
            data: $('#formSupplier').serialize(),
            type: "POST",
            dataType: 'text',
            success: function (msg) {
                alert(msg);
                window.location.reload()
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(thrownError);
            }
        });
    });

</script>
<script type="text/javascript">
    $("#updateForm").click(function () {
        $.ajax({
            url: '@Url.Action("RefreshPrjForm", "PurchaseForm")',
            data: $('#formSupplier').serialize(),
            type: "POST",
            dataType: 'text',
            success: function (msg) {
                alert(msg);
                window.location.reload()
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(thrownError);
            }
        });
    });
    function chaneFormStatus(status) {
        $.ajax({
            url: '@Url.Action("changeStatus", "PurchaseForm")',
            data: { formId: $("#inputformnumber").val(), status: status },
            type: "POST",
            dataType: 'text',
            success: function (msg) {
                //window.location.href=@Url.Action("PurchaseForm/SinglePrjForm/")'";
                location.reload();
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(thrownError);
            }
        });
    }
</script>
