@{ IEnumerable<topmeperp.Models.SYS_FUNCTION> model = (IEnumerable<topmeperp.Models.SYS_FUNCTION>)HttpContext.Current.Session["functions"]; }
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>
            -->
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    @{var modulename = ""; }

                    @foreach (var item in model)
                    {
                        if (item.MODULE_NAME != modulename)
                        {
                            if (modulename != "")
                            {
                                @Html.Raw(new HtmlString("</ul></li>"))
                            }
                            @Html.Raw(new HtmlString("<li class=\"dropdown\">"));
                            @Html.Raw(new HtmlString("<a href=\"#\" class=\"dropdown-toggle\" data-toggle=\"dropdown\" role=\"button\" aria-haspopup=\"true\" aria-expanded=\"false\">"));
                            @Html.Raw(new HtmlString(item.MODULE_NAME));
                            @Html.Raw(new HtmlString("<span class=\"caret\"></span></a>"));
                            @Html.Raw(new HtmlString("<ul class=\"dropdown-menu\">"));
                            modulename = item.MODULE_NAME;
                        }
                        <li>
                            <a href=@item.FUNCTION_URI>@item.FUNCTION_NAME</a>
                        </li>

                    }
                    @Html.Raw(new HtmlString("</ul></li>"))
                </ul>
                <!--form class="navbar-form navbar-left">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search">
                    </div>
                    <button type="submit" class="btn btn-default">Submit</button>
                </form -->
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">登出</a></li>
                    <li><a href="#">變更密碼</a></li>
                    <!--<li class="dropdown">
                         <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                         <ul class="dropdown-menu">
                             <li><a href="#">Action</a></li>
                             <li><a href="#">Another action</a></li>
                             <li><a href="#">Something else here</a></li>
                             <li role="separator" class="divider"></li>
                             <li><a href="#">Separated link</a></li>
                         </ul>
                     </li>
                      -->
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    @RenderBody()
</body>
</html>

