@model IEnumerable<topmeperp.Models.TND_PROJECT_FORM_ITEM>

<table class="table">
    <tr>
        <th>
            No.
        </th>
        <th>
            項次
        </th>
        <th>
            項目說明
        </th>
        <th>
            數量
        </th>
        <th>
            單價
        </th>
        <th>
            九宮格
        </th>
        <th>
            次九宮格
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FORM_ITEM_ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PROJECT_ITEM_ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ITEM_DESC)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ITEM_QTY)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ITEM_UNIT_PRICE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TYPE_CODE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SUB_TYPE_CODE)
            </td>
        </tr>
    }
</table>
