@model topmeperp.Models.BankLoanInfo
@{
    ViewBag.Title = "貸款管理-交易記錄維護";
    Layout = "~/Views/Shared/_MenuLayout.cshtml";
}
<!--條件區域-->
<!-- Excel 樣式套件
<link href="~/Content/handsontable/handsontable.full.css" rel="stylesheet" />
<script src="~/Scripts/handsontable/handsontable.full.js"></script>
-->
<form name="formLoanTransaction" id="formLoanTransaction" action="addBankLoanTransaction" method="Post">
    <div class="page-header">
        @if (Model.LoanInfo.IS_SUPPLIER == "Y")
        {
            <div class="row">
                <label class="col-sm-1 control-label">編號:</label>
                <div class="col-sm-3">
                    <input class="form-control" type="text" id="bl_id" name="bl_id" value="@Model.LoanInfo.BL_ID" readonly />
                    <input type="hidden" name="period" id="period" value="@Model.CurPeriod" />
                    <input type="hidden" name="supplier" id="supplier" value="@Model.LoanInfo.IS_SUPPLIER" />
                </div>
                <label class="col-sm-1 control-label">廠商名稱:</label>
                <label class="col-sm-4 info">@Model.LoanInfo.BANK_NAME </label>
                <a href="/BankInfo/SupplierLoanList" class="btn btn-success">回上一頁</a>
            </div>
        }
        else
        {
            <div class="row">
                <label class="col-sm-1 control-label">編號:</label>
                <div class="col-sm-1">
                    <input class="form-control" type="text" id="bl_id" name="bl_id" value="@Model.LoanInfo.BL_ID" readonly />
                    <input type="hidden" name="period" id="period" value="@Model.CurPeriod" />
                    <input type="hidden" name="supplier" id="supplier" value="@Model.LoanInfo.IS_SUPPLIER" />
                </div>
                <label class="col-sm-1 control-label">銀行代號:</label>
                <label class="col-sm-2 info">@Model.LoanInfo.BANK_ID </label>
                <label class="col-sm-1 control-label">銀行名稱:</label>
                <label class="col-sm-2 info">@Model.LoanInfo.BANK_NAME </label>
                <label class="col-sm-1 control-label">貸款期間:</label>
                <label class="col-sm-3 info">@string.Format("{0:yyyy/MM/dd}", @Model.LoanInfo.START_DATE)~@string.Format("{0:yyyy/MM/dd}", @Model.LoanInfo.DUE_DATE)</label>
            </div>
            <div class="row">
                <label class="col-sm-1 control-label">期數:</label><label class="col-sm-1 info">@Model.LoanInfo.PERIOD_COUNT </label>
                <label class="col-sm-1 control-label">額度:</label><label class="col-sm-3 info">@string.Format("{0:N0}", @Model.LoanInfo.QUOTA)</label>
                @if (Model.LoanInfo.DUE_DATE >= DateTime.Today)
                {
                    <label class="col-sm-1 control-label">可用額度:</label><label class="col-sm-3 info"><input class="form-control" type="text" id="available_quota" name="available_quota" value="@string.Format("{0:N0}", Model.LoanInfo.QUOTA + Model.SumTransactionAmount - Model.SurplusQuota)" readonly /></label>
                }
                else
                {
                    <label class="col-sm-1 control-label">可用額度:</label><label class="col-sm-3 info"><input class="form-control" type="text" id="available_quota" name="available_quota" value="0" readonly /></label>
                }
            </div>
        }
        <div class="row">
            <label class="col-sm-1 control-label">備註:</label><label class="col-sm-4 info">@Model.LoanInfo.REMARK </label>

        </div>
    </div>
    <div class="contaier">
        <label class="col-sm-1 control-label">交易明細:</label>
        <div id="hot"></div>

        <div class="row" style="position:relative">
            <table class="table order-list">
                <thead>
                    <tr>
                        <th>修改</th>
                        <th>期數</th>
                        <th>日期</th>
                        <th>借款金額</th>
                        <th>還款金額</th>
                        <th>備註</th>
                    </tr>
                </thead>
                <tbody>
                    @if (null != Model.LoanTransaction)
                    {
                        foreach (var item in Model.LoanTransaction)
                        {
                            <tr>
                                    @if (item.TRANSACTION_TYPE == -1)
                                    {
                                    <td>
                                        <button type="button" class="btn btn-default btn-xs" onclick="getLoanTransactionItem('@item.TID')">
                                            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                                        </button>
                                    </td>
                                    }
                                    else
                                    {
                                        <td>
                                            <button type="button" class="btn btn-default btn-xs" onclick="getLoanTransactionItemForPayback('@item.TID')">
                                                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                                            </button>
                                        </td>
                                    }
                                    <td>@item.PERIOD</td>
                                    <td>
                                        @string.Format("{0:yyyy/MM/dd}", @item.EVENT_DATE)
                                        @string.Format("{0:yyyy/MM/dd}", @item.PAYBACK_DATE)
                                    </td>
                                    @if (item.TRANSACTION_TYPE == -1)
                                    {
                                        <td>@string.Format("{0:N0}", @item.AMOUNT)</td>
                                        <td></td>
                                    }
                                    else
                                    {
                                        <td></td>
                                        <td>@string.Format("{0:N0}", @item.AMOUNT)</td>
                                    }
                                    <td>@item.REMARK </td>
                                </tr>
                        }
                    }

                </tbody>
                <tfoot>
                    <tr>
                        <td style="text-align: right;" colspan="7">
                            <input type="button" class="btn btn btn-warning" id="addrow" value="新增" />
                            <input type="submit" class="btn" id="save" value="儲存" />
                        </td>
                    </tr>
                </tfoot>
            </table>

        </div>
    </div>
</form>
<table class="table table-bordered">
    <tr>
        <th class="bg-danger">
            借款小計:
        </th>
        <th class="text-right">
            @String.Format("{0:$#,##0.#; ($#,##0.#);-}", Model.eventAmt)
        </th>
        <th class="bg-danger">
            還款小計:
        </th>
        <th class="text-right">
            @String.Format("{0:$#,##0.#; ($#,##0.#);-}", Model.paybackAmt)
        </th>
        <th class="bg-danger">
            合計:
        </th>
        <th class="text-right">
            @String.Format("{0:$#,##0.#; ($#,##0.#);0}", Model.eventAmt - Model.paybackAmt)
        </th>
    </tr>
</table>
<!-- Modal :對話框-->
<div class="modal fade" id="bankLoanTransactionItem" role="dialog">
    <div class="modal-dialog" id="bankLoanTransactionItemDialog">
        <!-- Modal content-->
        @Html.Partial("_BankLoanTransactionItem");
    </div>
</div>
<script>
    $(document).ready(function () {
        var counter = 0;
        $("#addrow").on("click", function () {
            var newRow = $("<tr>");
            var cols = "";
            cols += '<td></td>';
            cols += '<td></td>';
            cols += '<td><input type="text" class="form-control" id="EVENT_DATE.' + counter + '" name="EVENT_DATE.' + counter + '"/></td>';
            cols += '<td><input type="text" class="form-control" id=LOAN_AMOUNT.' + counter + '" name="LOAN_AMOUNT.' + counter + '"/></td>';
            cols += '<td><input type="text" class="form-control" id="PAYBACK_LOAN_AMOUNT.' + counter + '" name="PAYBACK_LOAN_AMOUNT.' + counter + '"/></td>';
            cols += '<td><input type="text" class="form-control" id="REMARK.' + counter + '" name="REMARK.' + counter + '"/></td>';
            cols += '<td><input type="button" class="ibtnDel btn btn-md btn-danger"  value="刪除"></td></tr>';
            newRow.append(cols);
            $("table.order-list").append(newRow);
            var txtName = "#EVENT_DATE\\." + counter;

            $(txtName).datetimepicker({
                inline: true,
                format: 'YYYY/MM/DD',
                locale: 'zh-tw',
                keepOpen: false,
            });
            counter++;
        });

        $("table.order-list").on("click", ".ibtnDel", function (event) {
            $(this).closest("tr").remove();
            counter -= 1
        });

    });

    function calculateRow(row) {
        var price = +row.find('input[name^="price"]').val();
    }

    function calculateGrandTotal() {
        var grandTotal = 0;
        $("table.order-list").find('input[name^="price"]').each(function () {
            grandTotal += +$(this).val();
        });
        $("#grandtotal").text(grandTotal.toFixed(2));
    }
    /*

    var dataObject = [
  {
      id: 1,
      flag: 'EUR',
      currencyCode: 'EUR',
      currency: 'Euro',
      level: 0.9033,
      units: 'EUR / USD',
      asOf: '08/19/2015',
      onedChng: 0.0026
  },
  {
      id: 2,
      flag: 'JPY',
      currencyCode: 'JPY',
      currency: 'Japanese Yen',
      level: 124.3870,
      units: 'JPY / USD',
      asOf: '08/19/2015',
      onedChng: 0.0001
  },
  {
      id: 3,
      flag: 'GBP',
      currencyCode: 'GBP',
      currency: 'Pound Sterling',
      level: 0.6396,
      units: 'GBP / USD',
      asOf: '08/19/2015',
      onedChng: 0.00
  },
  {
      id: 4,
      flag: 'CHF',
      currencyCode: 'CHF',
      currency: 'Swiss Franc',
      level: 0.9775,
      units: 'CHF / USD',
      asOf: '08/19/2015',
      onedChng: 0.0008
  },
  {
      id: 5,
      flag: 'CAD',
      currencyCode: 'CAD',
      currency: 'Canadian Dollar',
      level: 1.3097,
      units: 'CAD / USD',
      asOf: '08/19/2015',
      onedChng: -0.0005
  },
  {
      id: 6,
      flag: 'AUD',
      currencyCode: 'AUD',
      currency: 'Australian Dollar',
      level: 1.3589,
      units: 'AUD / USD',
      asOf: '08/19/2015',
      onedChng: 0.0020
  },
  {
      id: 7,
      flag: 'NZD',
      currencyCode: 'NZD',
      currency: 'New Zealand Dollar',
      level: 1.5218,
      units: 'NZD / USD',
      asOf: '08/19/2015',
      onedChng: -0.0036
  },
  {
      id: 8,
      flag: 'SEK',
      currencyCode: 'SEK',
      currency: 'Swedish Krona',
      level: 8.5280,
      units: 'SEK / USD',
      asOf: '08/19/2015',
      onedChng: 0.0016
  },
  {
      id: 9,
      flag: 'NOK',
      currencyCode: 'NOK',
      currency: 'Norwegian Krone',
      level: 8.2433,
      units: 'NOK / USD',
      asOf: '08/19/2015',
      onedChng: 0.0008
  },
  {
      id: 10,
      flag: 'BRL',
      currencyCode: 'BRL',
      currency: 'Brazilian Real',
      level: 3.4806,
      units: 'BRL / USD',
      asOf: '08/19/2015',
      onedChng: -0.0009
  },
  {
      id: 11,
      flag: 'CNY',
      currencyCode: 'CNY',
      currency: 'Chinese Yuan',
      level: 6.3961,
      units: 'CNY / USD',
      asOf: '08/19/2015',
      onedChng: 0.0004
  },
  {
      id: 12,
      flag: 'RUB',
      currencyCode: 'RUB',
      currency: 'Russian Rouble',
      level: 65.5980,
      units: 'RUB / USD',
      asOf: '08/19/2015',
      onedChng: 0.0059
  },
  {
      id: 13,
      flag: 'INR',
      currencyCode: 'INR',
      currency: 'Indian Rupee',
      level: 65.3724,
      units: 'INR / USD',
      asOf: '08/19/2015',
      onedChng: 0.0026
  },
  {
      id: 14,
      flag: 'TRY',
      currencyCode: 'TRY',
      currency: 'New Turkish Lira',
      level: 2.8689,
      units: 'TRY / USD',
      asOf: '08/19/2015',
      onedChng: 0.0092
  },
  {
      id: 15,
      flag: 'THB',
      currencyCode: 'THB',
      currency: 'Thai Baht',
      level: 35.5029,
      units: 'THB / USD',
      asOf: '08/19/2015',
      onedChng: 0.0044
  },
  {
      id: 16,
      flag: 'IDR',
      currencyCode: 'IDR',
      currency: 'Indonesian Rupiah',
      level: 13.83,
      units: 'IDR / USD',
      asOf: '08/19/2015',
      onedChng: -0.0009
  },
  {
      id: 17,
      flag: 'MYR',
      currencyCode: 'MYR',
      currency: 'Malaysian Ringgit',
      level: 4.0949,
      units: 'MYR / USD',
      asOf: '08/19/2015',
      onedChng: 0.0010
  },
  {
      id: 18,
      flag: 'MXN',
      currencyCode: 'MXN',
      currency: 'Mexican New Peso',
      level: 16.4309,
      units: 'MXN / USD',
      asOf: '08/19/2015',
      onedChng: 0.0017
  },
  {
      id: 19,
      flag: 'ARS',
      currencyCode: 'ARS',
      currency: 'Argentinian Peso',
      level: 9.2534,
      units: 'ARS / USD',
      asOf: '08/19/2015',
      onedChng: 0.0011
  },
  {
      id: 20,
      flag: 'DKK',
      currencyCode: 'DKK',
      currency: 'Danish Krone',
      level: 6.7417,
      units: 'DKK / USD',
      asOf: '08/19/2015',
      onedChng: 0.0025
  },
  {
      id: 21,
      flag: 'ILS',
      currencyCode: 'ILS',
      currency: 'Israeli New Sheqel',
      level: 3.8262,
      units: 'ILS / USD',
      asOf: '08/19/2015',
      onedChng: 0.0084
  },
  {
      id: 22,
      flag: 'PHP',
      currencyCode: 'PHP',
      currency: 'Philippine Peso',
      level: 46.3108,
      units: 'PHP / USD',
      asOf: '08/19/2015',
      onedChng: 0.0012
  }
    ];
    var currencyCodes = ['EUR', 'JPY', 'GBP', 'CHF', 'CAD', 'AUD', 'NZD', 'SEK', 'NOK', 'BRL', 'CNY', 'RUB', 'INR', 'TRY', 'THB', 'IDR', 'MYR', 'MXN', 'ARS', 'DKK', 'ILS', 'PHP'];
    var flagRenderer = function (instance, td, row, col, prop, value, cellProperties) {
        var currencyCode = value;
        while (td.firstChild) {
            td.removeChild(td.firstChild);
        }
        if (currencyCodes.indexOf(currencyCode) > -1) {
            var flagElement = document.createElement('DIV');

            flagElement.className = 'flag ' + currencyCode.toLowerCase();
            td.appendChild(flagElement);
        } else {
            var textNode = document.createTextNode(value === null ? '' : value);

            td.appendChild(textNode);
        }
    };
    var hotElement = document.querySelector('#hot');
    var hotElementContainer = hotElement.parentNode;
    var hotSettings = {
        data: dataObject,
        columns: [
          {
              data: 'id',
              type: 'numeric',
              width: 40
          },
          {
              data: 'flag',
              renderer: flagRenderer
          },
          {
              data: 'currencyCode',
              type: 'text'
          },
          {
              data: 'currency',
              type: 'text'
          },
          {
              data: 'level',
              type: 'numeric',
              numericFormat: {
                  pattern: '0.0000'
              }
          },
          {
              data: 'units',
              type: 'text'
          },
          {
              data: 'asOf',
              type: 'date',
              dateFormat: 'MM/DD/YYYY'
          },
          {
              data: 'onedChng',
              type: 'numeric',
              numericFormat: {
                  pattern: '0.00%'
              }
          }
        ],
        stretchH: 'all',
        width: 805,
        autoWrapRow: true,
        height: 487,
        maxRows: 22,
        manualRowResize: true,
        manualColumnResize: true,
        rowHeaders: true,
        colHeaders: [
          'ID',
          'Country',
          'Code',
          'Currency',
          'Level',
          'Units',
          'Date',
          'Change'
        ],
        manualRowMove: true,
        manualColumnMove: true,
        contextMenu: true,
        filters: true,
        dropdownMenu: true
    };
    var hot = new Handsontable(hotElement, hotSettings);
    */
</script>
<script type="text/javascript">
    //由ID 取得資料填入表單(借款)
    function getLoanTransactionItem(itemid) {
        //alert(userid);
        $.ajax({
            url: "/BankInfo/getLoanTransactionItem",
            type: "GET",
            data: { itemid: itemid },
            dataType: "JSON",
            success: function (data) {
                $('#blId').val(data.BL_ID);
                $('#transaction_type').val(data.TRANSACTION_TYPE);
                $('#Period').val(data.PERIOD);
                $('#create_date').val(data.RECORDED_CREATE_DATE);
                $('#create_id').val(data.CREATE_ID);
                $('#tid').val(data.TID);
                $('#amount').val(data.RECORDED_AMOUNT);
                $('#event_date').val(data.RECORDED_EVENT_DATE);
                $('#remark').val(data.REMARK);
                $('#formid').val(data.VA_FORM_ID);
                $('#bankLoanTransactionItem').modal('show'); // show bootstrap modal when complete loaded
                $('#debit_date').hide();
                $('#debit_amt').hide();
                $('#credit_date').show();
                $('#credit_amt').show();
                
                //$('.modal-title').text('編輯設定資料'); // Set title to Bootstrap modal title
            },
            error: function (jqXHR, textStatus, errorThrown) {
                alert('Error get data from ajax');
            }
        });
    }
    //由ID 取得資料填入表單(還款)
    function getLoanTransactionItemForPayback(itemid) {
        //alert(userid);
        $.ajax({
            url: "/BankInfo/getLoanTransactionItem",
            type: "GET",
            data: { itemid: itemid },
            dataType: "JSON",
            success: function (data) {
                $('#blId').val(data.BL_ID);
                $('#transaction_type').val(data.TRANSACTION_TYPE);
                $('#Period').val(data.PERIOD);
                $('#create_date').val(data.RECORDED_CREATE_DATE);
                $('#create_id').val(data.CREATE_ID);
                $('#tid').val(data.TID);
                $('#payback_amt').val(data.RECORDED_AMOUNT);
                $('#payback_date').val(data.RECORDED_PAYBACK_DATE);
                $('#remark').val(data.REMARK);
                $('#formid').val(data.VA_FORM_ID);
                $('#bankLoanTransactionItem').modal('show'); // show bootstrap modal when complete loaded
                $('#credit_date').hide();
                $('#credit_amt').hide();
                $('#debit_date').show();
                $('#debit_amt').show();
                //$('.modal-title').text('編輯設定資料'); // Set title to Bootstrap modal title
            },
            error: function (jqXHR, textStatus, errorThrown) {
                alert('Error get data from ajax');
            }
        });
    }

    //更新 Loan Transaction Item
    $("#saveItem").click(function () {
        var URLs = "/BankInfo/updateLoanTransactionItem";
        var s = $('#formLoanTransactionItem').serialize();
        $.ajax({
            url: URLs,
            data: $('#formLoanTransactionItem').serialize(),
            type: "POST",
            dataType: 'text',
            success: function (msg) {
                alert(msg);
                window.location.reload();
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(thrownError);
            }
        });
    });
    $(function () {
        $('#payback_date').datetimepicker({
            format: 'YYYY/MM/DD',
            locale: 'zh-tw'
        });
        $('#event_date').datetimepicker({
            format: 'YYYY/MM/DD',
            locale: 'zh-tw'
        });
    });
</script>